.grid {
  display: grid;
  grid-template-columns: minmax(105px, 3fr) repeat(3, minmax(max-content, 1fr));
  gap: 10px;
}

.cart {
  display: grid;
  gap: 30px;
  text-align: center;
}

.pb {
  padding-block: 10px;
}

.item {
  grid-column: 1;
  text-align: left;
}

.price {
  grid-column: 2;
}

.quantity {
  grid-column: 3;
}

.subtotal {
  grid-column: 4;
}

.cart__header {
  grid-row: 1;
  color: rgb(130, 130, 130);
  border-bottom: 1px solid;
  border-color: inherit;
  position: sticky;
  top: 60px;
  background-color: #fff;
}

.cart__item {
  grid-row: 2;
  margin-bottom: 20px;
  align-items: center;
}

.cart__item--action {
  all: unset;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  padding-block: 10px;
  margin-top: 10px;
  color: rgb(130, 130, 130);
}

.cart__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.cart__info--image {
  max-width: 112px;
}

.cart__total-price {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-self: end;
}

.cart__total-price span {
  font-size: 20px;
}

.cart__total-price h3 {
  font-size: 24px;
}
