<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Flower Fantasy | <%= pageTitle %>
  </title>
  <link rel="icon" href="/assets/store.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/header.css">
  <% styles.forEach(style=> { %>
    <link rel="stylesheet" href="<%- `/styles/${style}.css` %>">
    <% }) %>

      <!-- FONTS -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">
      <script src="/js/main.js" defer></script>