<%- include('includes/head', { styles: styles })%>
  </head>

  <body>

    <%- include('../includes/navigation', { linkPath: '' })%>

      <main class="layout main">
        <h2 class="title">
          <%= pageTitle %>
        </h2>
      </main>

      <%- include('includes/end') %>