<%- include('../includes/head') %>
  </head>

  <body>

    <%- include('../includes/navigation', { linkPath: path })%>

      <main class="layout main">
        <h2 class="title">
          Nothing there!
        </h2>
      </main>