.cart__list {
  display: grid;
  gap: 40px;
}

.cart__item {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.cart__item--image {
  flex: 1 1 160px;
  max-width: 160px;
  border-radius: 6px;
  overflow: hidden;
  margin-inline: auto;
}

.cart__item--details {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart__item--details h4 {
  font-size: 20px;
  color: #828282;
}

.cart__item--details p {
  color: #828282;
}

.cart__item--details p span {
  color: #002d33;
  font-size: 18px;
}

.cart__item--action {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  padding-block: 10px;
}
